<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvZFQbDflr4CXlir0z8fMFa5YtBwwhW_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>73991922840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Emre-Koc.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-a0ec3</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-a0ec3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73991922840:ios:e05667d432e4afe7375ced</string>
</dict>
</plist>